.solr_result{
	background: @almost-white;
	padding: 10px;
}

.search_field{
	width: 100%;
}

.data-advanced-filters .single-filter .button{
  margin-top: 20px;
}

.search-page-content{
	margin-bottom: 20px;
}

.content-type-tabs{
  clear: both;
  margin-bottom: 10px;
  display: flex;
}

.content-type-tabs li{
	float:left;
	list-style: none;
	margin-right: 10px;
}

.filter-box{
  display: flex;
}
