.solr_result{
	padding: 10px;
}

.solr_result_two_cols{
	padding: 0px;
}

.search_field{
	width: 100%;
}

.search-button{
	min-height: 40px;
	margin-top: 20px;
	width: 100%;
}

.data-advanced-filters .single-filter .button{
  margin-top: 20px;
}

.search-page-content{
	margin-bottom: 20px;
}

.content-type-tabs{
  clear: both;
  margin-bottom: 10px;
  display: flex;
	padding: 10px;
}

.content-type-tabs ul{
	border-bottom: 1px #c8c8c8 solid;
	width: 100%;
}

.content-type-tabs li{
	float:left;
	list-style: none;
	margin-right: 20px;
}

.content-type-tabs li:hover{
	border-bottom: 2px #97D320;
}

.content-type-tabs li:active{
	border-bottom: 2px #97D320;
}

.more-filters-content{
  margin-bottom: 0px;
}

.left-label{
	float: left;
	display: inline;
	margin-right: 10px;
}
