.solr_result{
	padding: 10px;
}

.solr_result_two_cols{
	padding: 0px;
}

.solr_result_two_cols:nth-child(2n+1) {
    clear: left;
}

.search_field{
	width: 100%;
}

.search-button{
	min-height: 40px;
	margin-top: 20px;
	width: 100%;
}

.data-advanced-filters .single-filter .button{
  margin-top: 20px;
}

.search-page-content{
	margin-bottom: 20px;
}

.download_data_buttons{
	float:left;
}

.more-filters-content{
  margin-bottom: 0px;
}

.left-label{
	float: left;
	display: inline;
	margin-right: 10px;
}

.data_description img{
	float:left;
	max-width: 80px;
	max-height: 80px;
	margin: 5px 10px 5px 0;
	border: 1px solid #c8c8c8;
	padding: 5px;
}

/* ODC */

.content-type-tabs-odc{
  display: flex;
	padding: 10px 0px;
}

.content-type-tabs-odc ul{
	border-bottom: 1px #c8c8c8 solid;
	width: 100%;
	margin-bottom: 0px;
}

.content-type-tabs-odc li{
	float:left;
	list-style: none;
	margin-bottom: 0px;
	padding: 0 10px;
}

.content-type-tabs-odc .result_link_list a:hover{
	border-bottom: 2px #97D320;
	font-size: 16px;
}

.content-type-tabs-odc .result_link_list a:active{
	border-bottom: 2px #97D320;
	font-size: 16px;
}

.content-type-tabs-odc .result_link_list a {
	font-size: 16px;
	display: block;
	padding-bottom: 10px;
}

.content-type-tabs-odc .result_link_list.data-number-results-medium a{
		border-bottom: 2px solid #97D320;
}
/* CATEGORY */

.content-type-tabs-category{
  display: flex;
	padding: 10px 0px;
}

.content-type-tabs-category ul{
	border-bottom: 1px #c8c8c8 solid;
	width: 100%;
	margin-bottom: 0px;
}

.content-type-tabs-category li{
	float:left;
	list-style: none;
	margin-bottom: 0px;
	padding: 10px 10px;
}

.content-type-tabs-category .result_link_list a:hover{
	border-bottom: 2px #97D320;
	font-size: 14px;
}

.content-type-tabs-category .result_link_list a:active{
	border-bottom: 2px #97D320;
	font-size: 14px;
}

.content-type-tabs-category .result_link_list a {
	font-size: 14px;
	display: block;
}

select#sorting{
	margin-bottom: 0 !important;
}

.tooltip{
  position: relative;
}
.tooltip-text{
	visibility: hidden;
	min-width: 210px;
	max-width: 250px;
	background-color: #f7f7f7;
	text-align: center;
	border-radius: 6px;
	padding: 5px 5px;
	border: 1px solid #ddd;
	position: absolute;
	top: 30px
}
.tooltip:hover .tooltip-text {
    visibility: visible;
}

